

<!-- Modal -->
<div class="modal fade" id="addtypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4    >变动方式表</h4> 
        <h4 hidden="hidden" id="addtypeid" class="modal-title"  ></h4> 
                <h4  hidden="hidden"id="AddtypeModalid" class="modal-title"  > <%= id%> </h4> 
      </div>
      <div class="modal-body"> 

        <table class="table table-bordered">
          <thead>
          <tr>
            <th>变动方式编码</th>
            <th>变动方式名称</th> 
          </tr>
          </thead>
          <tbody>
            <% @addtype.each do |addtype| %>
            <tr class="select select_addtype" data-addtype_id="<%= addtype.id %>" >
              <td><%= addtype.Addtypecode %></td>
              <td><%= addtype.Name %></td> 
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button id="chooseaddtype" type="button" class="btn btn-default" data-dismiss="modal">确定</button>
      </div> 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


 

<script>
$('tr.select_addtype').click(function(e){ 
    $("tr.select_addtype").css("backgroundColor","white");
    this.style.backgroundColor = "#357ebd" 
    $("#addtypeid").text(this.dataset.addtype_id);

}) 

</script>

<script> 
$('#chooseaddtype').click(function(e){  
  var List=new Array();
  List[0]="变动方式";
  List[1]=   $("#AddtypeModalid").text();
  List[2]=  "addtypeModal";
$.ajax({
   type:"post", 
   url :"/addtypes_choose",
   data:{ 
      "addtypeid": $("#addtypeid").text(),
      "id" :List
     }, 
   success: function(){ 
     },
			error :function(){ 
        } 
 });  
}) 


$('tr.select_addtype').dblclick(function(e){    
  var List=new Array();
   List[0]="变动方式";
  List[1]=   $("#AddtypeModalid").text();
  List[2]=  "addtypeModal";
$.ajax({
   type:"post", 
   url :"/addtypes_choose",
   data:{ 
      "addtypeid": $("#addtypeid").text(),
      "id" :List
     }, 
   success: function(){ 
     },
			error :function(){ 
        } 
 });  
})
</script>
