 <body>
   <div class="modal fade" id="assetcardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
     <div class="modal-dialog" style="width:650px;height:auto;">
       <div class="modal-content">
         <div class="modal-header">
           <!--关闭窗口按钮-->
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
           <h4>资产卡片表</h4>
           <!--菜单列表-->
           <a data-url="/assetcards/new" data-id="newassetcards" data-title="资产卡片-新增" class="linkActive"><button
               type="button" class="layui-btn">新增</button></a>
           <button class="layui-btn demoTable" data-type="reload_assetcard">刷新</button>
           <!--参数-->
           <h4 hidden="hidden" id="assetcardid" class="modal-title"></h4>
         </div>
         <div class="modal-body">
           <div class="assetcard_table">
             <table class="layui-hide" id="assetcards" lay-filter="assetcards"></table>
           </div>
         </div>
         <div class="modal-footer">
           <!--菜单列表-->
           <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
           <button id="chooseassetcard" type="button" class="btn btn-default" data-dismiss="modal">确定</button>
         </div>
       </div><!-- /.modal-content -->
     </div><!-- /.modal-dialog -->
   </div><!-- /.modal -->
   <script>
     //确定按钮点击事件
     $('#chooseassetcard').click(function (e) {
       $.ajax({
         type: "post",
         url: "/assetcards_choose_single",
         data: {
           "id": $("#assetcardid").text(),
           "assetCode": "assetCode"
         }
       });
     })
     layui.use('table', function () {
       var table = layui.table;
       table.on('tool(assetcards)', function (obj) { 
         let event = obj.event;
         $("#assetcardid").text(obj.data.id);
         let tr = obj.tr;
         index = tr[0].attributes["data-index"].value;
         var tableBox = $(this).parents('.layui-table-box');
         //存在固定列
         tableDiv = tableBox.find(".layui-table-body.layui-table-main");
         //获取已选中列并取消选中 
         //选中单击行
         var checkCell = tableDiv.find("tr[data-index=" + index + "]").find(
           "td div.laytable-cell-radio div.layui-form-radio I");
         checkCell.click(); //复选框勾选 
       })
       table.on('rowDouble(assetcards)', function (obj) {
         //双击单元格事件 
         $.ajax({
           type: "post",
           url: "/assetcards_choose_single",
           data: {
             "id": $("#assetcardid").text(),
             "assetCode": "assetCode"
           }
         });
       })
       table.render({
         elem: '#assetcards',
         url: '/AssetList_Get_Data',
         title: '用户数据表',
         cols: [
           [{
             type: 'radio',
             width: 50
           }, {
             field: 'assetCode',
             event:"assetcard",
             width: 80,
             title: '资产编码'
           }, {
             field: 'assetname',
             width: 80,
             event:"assetcard",
             title: '资产名称',
             sort: true
           }, {
             field: 'Unit_id',
             width: 80,
             event:"assetcard",
             title: '计量单位'
           }, {
             field: 'Amount',
             event:"assetcard",
             title: '数量'
           }, {
             field: 'department_id',
             event:"assetcard",
             title: '使用部门'
           }, {
             field: 'Employeeld',
             event:"assetcard",
             title: '使用人'
           }, {
             field: 'Approver',
             event:"assetcard",
             minwidth: 200,
             width: 163,
             title: '审核人',
             sort: true
           }]
         ],
         id: 'assetcard_table',
         page: true,
         limits: [100, 200, 500, 1000, 2000, 10000],
         limit: 100
       });
       var $ = layui.$,
         active = {
           reload_assetcard: function () {
             //执行重载
             table.reload('assetcard_table', {
               page: {
                 curr: 1 //重新从第 1 页开始
               },
               where: {
                 key: {}
               }
             }, 'data');
           }
         };
       $('.demoTable').on('click', function () {
         var type = $(this).data('type');
         active[type] ? active[type].call(this) : '';
       });
     });
   </script>
 </body>