<p id="notice"><%= notice %></p>
 
 
<%= render 'form', assetcard: @assetcard %>
 

 <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script>
$(document).ready(function(){

 $("input").prop('disabled','disabled');
 $("select").prop('disabled','disabled'); 
 $("input").css('background-color','#F5F5F5');
 $("select").css('background-color','#F5F5F5'); 
 $("input[type=submit]").hide(); 
 $("#notice").hide(); 
 if($("#notice").text()!='')
 {
  alert( $("#notice").text());
 }
});
</script>