<p id="notice"><%= notice %></p>
 
<h1 style="text-align:center;">资产卡片查看</h1>
<br>
<br>
<%= render 'form', assetcard: @assetcard %>

<%= link_to '编辑资产卡片', edit_assetcard_path(@assetcard) %> |
<%= link_to '返回资产卡片表', assetcards_path %>

 <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script>
$(document).ready(function(){

 $("input").prop('disabled','disabled');
 $("select").prop('disabled','disabled'); 
 $("input").css('background-color','#F5F5F5');
 $("select").css('background-color','#F5F5F5'); 
 $("input[type=submit]").hide(); 
 $("#notice").hide(); 
 if($("#notice").text()!='')
 {
  alert( $("#notice").text());
 }
});
</script>