<h1>Editing Asset Turnover Detail</h1>

<%= render 'form', asset_turnover_detail: @asset_turnover_detail %>

<%= link_to 'Show', @asset_turnover_detail %> |
<%= link_to 'Back', asset_turnover_details_path %>
