<p id="notice"><%= notice %></p>
<h1>查看用户</h1>
<br>
<br>
<%= render 'form', user: @user %>

<%= link_to '修改用户信息', edit_user_path(@user) %> 


 <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script>
$(document).ready(function(){

 $("input").prop('disabled','disabled');
 $("select").prop('disabled','disabled'); 
 $("input").css('background-color','#F5F5F5');
 $("select").css('background-color','#F5F5F5'); 
 $("input[type=submit]").hide(); 
 $("#notice").hide(); 
 if($("#notice").text()!='')
 {
  alert( $("#notice").text());
 }
});
</script>