 <!-- Modal -->

 <div class="modal fade" id="departmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" style="width:650px;height:auto;">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
         <h4>部门表</h4>

         <a data-url="/departments/new" data-id="newdepartments" data-title="部门新增" class="linkActive"><button
             type="button" class="layui-btn">新增</button></a>


         <button class="layui-btn demoTable" data-type="reload_department">搜索</button>

         <h4 hidden="hidden" id="departmentid" class="modal-title"> </h4>
         <h4 hidden="hidden" id="departmentidModalid" class="modal-title"> <%= id%> </h4>
         <h4 hidden="hidden" id="userModalid" class="modal-title"> <%= userid%> </h4>
       </div>
       <div class="modal-body">
         <table class="layui-hide" id="departments" lay-filter="departments"></table>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
         <button id="choose" type="button" class="btn btn-default" data-dismiss="modal">确定</button>
       </div>
     </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
 </div><!-- /.modal -->





 <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
 <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>


 <script>
   $('tr.select_department').click(function (e) {
     $("tr.select_department").css("backgroundColor", "white");
     this.style.backgroundColor = "#357ebd"
     console.log(this.dataset.user_id)
     $("#departmentid").text(this.dataset.user_id);
   })

   $('#choose').click(function (e) {
     var List = new Array();
     List[0] = "部门";
     List[1] = $("#departmentidModalid").text();
     List[2] = "departmentModal";
     List[3] = $("#userModalid").text();
     $.ajax({
       type: "post",
       url: "/departments_choose",
       data: {
         "departmentid": $("#departmentid").text(),
         "id": List
       },
       success: function () {},
       error: function () {}
     });
   })



   $('tr.select_department').dblclick(function (e) {
     var List = new Array();
     List[0] = "部门";
     List[1] = $("#departmentidModalid").text();
     List[2] = "departmentModal";
     List[3] = $("#userModalid").text();

     $.ajax({
       type: "post",
       url: "/departments_choose",
       data: {
         "departmentid": $("#departmentid").text(),
         "id": List
       },
       success: function () {},
       error: function () {}
     });
   });



   $(document).on("click", ".layui-table-body table.layui-table tbody td", function () {
     if ($(this)[0].className == "") {
       var index = $(this)[0].parentElement.attributes[0].value;
       var tableBox = $(this).parents('.layui-table-box');
       //存在固定列
       tableDiv = tableBox.find(".layui-table-body.layui-table-main");
       //获取已选中列并取消选中 
       //选中单击行
       var checkCell = tableDiv.find("tr[data-index=" + index + "]").find(
         "td div.laytable-cell-radio div.layui-form-radio I");
       checkCell.click();
       var table = layui.table;
       var checkStatus = table.checkStatus('department_table');
       console.log(checkStatus)
       $("#departmentid").text(checkStatus.data[0].id);
     }
   });
 </script>




 <script>
   layui.use('table', function () {
     var table = layui.table;
     table.render({
       elem: '#departments',
       url: '/departments_Get_DataApi',
       title: '用户数据表',
       cols: [
         [{
             type: 'radio',
             width: 50
           },
           {
             field: 'departmentcode',
             title: '部门编号',
             width: 200,
             minwidth: 200,
             sort: true
           }, {
             field: 'departmentname',
             minwidth: 200,
             width: 200,
             title: '部门名称'
           }, {
             field: 'Approver',
             minwidth: 200,
             width: 163,
             title: '审核人',
             sort: true
           }
         ]
       ],
       id: 'department_table',
       page: true,
       limits: [100, 200, 500, 1000, 2000, 10000],
       limit: 100
     });

     var $ = layui.$,
       active = {
         reload_department: function () {
           //执行重载
           table.reload('department_table', {
             page: {
               curr: 1 //重新从第 1 页开始
             },
             where: {
               key: {}
             }
           }, 'data');
         }
       };

     $('.demoTable').on('click', function () {
       console.log("1")
       var type = $(this).data('type');
       active[type] ? active[type].call(this) : '';
     });

   });
 </script>