 <body>
   <!-- Modal -->
   <div class="modal fade" id="departmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
     <div class="modal-dialog" style="width:650px;height:auto;">
       <div class="modal-content">
         <div class="modal-header">
           <!--关闭窗口按钮-->
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
           <h4>部门表</h4>
           <!--菜单列表-->
           <a id="department_new" data-id="newdepartments" data-title="部门新增" class="linkActive"><button type="button"
               class="layui-btn" onclick="NewDepartment()">新增</button></a>
           <button class="layui-btn demoTable" data-type="reload_department">刷新</button>
           <!--参数-->
           <h4 hidden="hidden" id="departmentid" class="modal-title"> </h4>
           <h4 hidden="hidden" id="departmentidModalid" class="modal-title"> <%= id%> </h4>
           <h4 hidden="hidden" id="userModalid" class="modal-title"> <%= userid%> </h4>
         </div>
         <div class="modal-body">
           <div class="department_table">
             <table class="layui-hide" id="departments" lay-filter="departments"></table>
           </div>
         </div>
         <div class="modal-footer">
           <!--菜单列表-->
           <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
           <button id="choosedepartment" type="button" class="btn btn-default" data-dismiss="modal">确定</button>
         </div>
       </div><!-- /.modal-content -->
     </div><!-- /.modal-dialog -->
   </div><!-- /.modal -->
   <script>
     //确定按钮点击事件
     $('#choosedepartment').click(function (e) {
       //获取参数数据
       var List = new Array();
       List[0] = "部门";
       List[1] = $("#departmentidModalid").text();
       List[2] = "departmentModal";
       List[3] = $("#userModalid").text();
       //调用后端选择基础资料接口
       $.ajax({
         type: "post",
         url: "/departments_choose",
         data: {
           "departmentid": $("#departmentid").text(),
           "id": List
         },
         success: function () {},
         error: function () {}
       });
     })
     layui.use('table', function () {
       var table = layui.table;
       table.on('tool(departments)', function (obj) {
         let event = obj.event;
         $("#departmentid").text(obj.data.id);
         let tr = obj.tr;
         index = tr[0].attributes["data-index"].value;
         var tableBox = $(this).parents('.layui-table-box');
         //存在固定列
         tableDiv = tableBox.find(".layui-table-body.layui-table-main");
         //获取已选中列并取消选中 
         //选中单击行
         var checkCell = tableDiv.find("tr[data-index=" + index + "]").find(
           "td div.laytable-cell-radio div.layui-form-radio I");
         checkCell.click(); //复选框勾选 
       })
       table.on('rowDouble(departments)', function (obj) {
         //双击单元格事件
         //获取参数数据
         var List = new Array();
         List[0] = "部门";
         List[1] = $("#departmentidModalid").text();
         List[2] = "departmentModal";
         List[3] = $("#userModalid").text();
         //调用后端选择基础资料接口
         $.ajax({
           type: "post",
           url: "/departments_choose",
           data: {
             "departmentid": $("#departmentid").text(),
             "id": List
           },
           success: function () {},
           error: function () {}
         });
       })
       table.render({
         elem: '#departments',
         url: '/departments_Get_DataApi',
         title: '用户数据表',
         cols: [
           [{
               type: 'radio',
               width: 50
             },
             {
               field: 'departmentcode',
               title: '部门编号',
               width: 200,
               minwidth: 200,
               event: "departments",
               sort: true
             }, {
               field: 'departmentname',
               minwidth: 200,
               width: 200,
               event: "departments",
               title: '部门名称'
             }, {
               field: 'Approver',
               minwidth: 200,
               width: 163,
               event: "departments",
               title: '审核人',
               sort: true
             }
           ]
         ],
         id: 'department_table',
         page: true,
         limits: [100, 200, 500, 1000, 2000, 10000],
         limit: 100
       });
       var $ = layui.$,
         active = {
           reload_department: function () {
             //执行重载
             table.reload('department_table', {
               page: {
                 curr: 1 //重新从第 1 页开始
               },
               where: {
                 key: {}
               }
             }, 'data');
           }
         };
       $('.demoTable').on('click', function () {
         var type = $(this).data('type');
         active[type] ? active[type].call(this) : '';
       });
     });
     //部门新增事件
     function NewDepartment() {
       document.getElementById("department_new").dataset.url = "/departments/new";
     }
   </script>
 </body>