 <body>
   <!-- Modal -->
   <div class="modal fade" id="usestateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
     <div class="modal-dialog" style="width:650px;height:auto;">
       <div class="modal-content">
         <div class="modal-header">
           <!--关闭窗口按钮-->
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
           <h4>使用状态表</h4>
           <!--菜单列表-->
           <a data-url="/usestates/new" data-id="newusestates" data-title="使用状态-新增" class="linkActive"><button
               type="button" class="layui-btn">新增</button></a>
           <button class="layui-btn demoTable" data-type="reload_usestate">刷新</button>
           <!--参数-->
           <h4 hidden="hidden" id="usestateid" class="modal-title"></h4>
           <h4 hidden="hidden" id="UsestateModalid" class="modal-title"> <%= id%> </h4>
         </div>
         <div class="modal-body">
           <div class="usestate_table">
             <table class="layui-hide" id="usestates" lay-filter="usestates"></table>
           </div>
         </div>
         <div class="modal-footer">
           <!--菜单列表-->
           <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
           <button id="chooseusestate" type="button" class="btn btn-default" data-dismiss="modal">确定</button>
         </div>
       </div><!-- /.modal-content -->
     </div><!-- /.modal-dialog -->
   </div><!-- /.modal -->
 </body>
 <!-- Modal -->
 <script>
   //确定按钮点击事件
   $('#chooseusestate').click(function (e) {
     //获取参数数据
     var List = new Array();
     List[0] = "资产使用状态";
     List[1] = $("#UsestateModalid").text();
     List[2] = "usestateModal";
     //调用后端选择基础资料接口
     $.ajax({
       type: "post",
       url: "/usestates_choose",
       data: {
         "usestateid": $("#usestateid").text(),
         "id": List
       },
       success: function () {},
       error: function () {}
     });
   })
   layui.use('table', function () {
     var table = layui.table;
     table.on('tool(usestates)', function (obj) {
       let event = obj.event;
       $("#usestateid").text(obj.data.id);
       let tr = obj.tr;
       index = tr[0].attributes["data-index"].value;
       var tableBox = $(this).parents('.layui-table-box');
       //存在固定列
       tableDiv = tableBox.find(".layui-table-body.layui-table-main");
       //获取已选中列并取消选中 
       //选中单击行
       var checkCell = tableDiv.find("tr[data-index=" + index + "]").find(
         "td div.laytable-cell-radio div.layui-form-radio I");
       checkCell.click(); //复选框勾选 
     })
     table.on('rowDouble(usestates)', function (obj) {
       //双击单元格事件
       //获取参数数据
       var List = new Array();
       List[0] = "资产使用状态";
       List[1] = $("#UsestateModalid").text();
       List[2] = "usestateModal";
       //调用后端选择基础资料接口
       $.ajax({
         type: "post",
         url: "/usestates_choose",
         data: {
           "usestateid": $("#usestateid").text(),
           "id": List
         },
         success: function () {},
         error: function () {}
       });
     })
     table.render({
       elem: '#usestates',
       url: '/usestates_Get_DataApi',
       title: '用户数据表',
       cols: [
         [{
             type: 'radio',
             width: 50
           },
           {
             field: 'Usestatecode',
             title: '使用状态编号',
             event: "usestate",
             width: 200,
             minwidth: 200,
             sort: true
           }, {
             field: 'Name',
             minwidth: 200,
             width: 200,
             event: "usestate",
             title: '使用状态名称'
           }, {
             field: 'Approver',
             minwidth: 200,
             width: 163,
             event: "usestate",
             title: '审核人',
             sort: true
           }
         ]
       ],
       id: 'usestate_table',
       page: true,
       limits: [100, 200, 500, 1000, 2000, 10000],
       limit: 100
     });
     var $ = layui.$,
       active = {
         reload_usestate: function () {
           //执行重载
           table.reload('usestate_table', {
             page: {
               curr: 1 //重新从第 1 页开始
             },
             where: {
               key: {}
             }
           }, 'data');
         }
       };
     $('.demoTable').on('click', function () {
       var type = $(this).data('type');
       active[type] ? active[type].call(this) : '';
     });
   });
 </script>
 <script>
   $('#chooseusestate').click(function (e) {
   })
   $('tr.select_usestate').dblclick(function (e) {
     var List = new Array();
     List[0] = "资产使用状态";
     List[1] = $("#UsestateModalid").text();
     List[2] = "usestateModal";
     $.ajax({
       type: "post",
       url: "/usestates_choose",
       data: {
         "usestateid": $("#usestateid").text(),
         "id": List
       },
       success: function () {},
       error: function () {}
     });
   })
 </script>