

<!-- Modal -->
<div class="modal fade" id="usestateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4>使用状态表</h4>
        <h4 hidden="hidden"  id="usestateid" class="modal-title"  ></h4> 
                <h4  hidden="hidden" id="UsestateModalid" class="modal-title"  > <%= id%> </h4> 
      </div>
      <div class="modal-body"> 

        <table class="table table-bordered">
          <thead>
          <tr>
            <th>使用状态编码</th>
            <th>使用状态</th> 
          </tr>
          </thead>
          <tbody>
            <% @usestate.each do |usestate| %>
            <tr class="select_usestate" data-usestate_id="<%= usestate.id %>" >
              <td><%= usestate.Usestatecode %></td>
              <td><%= usestate.Name %></td> 
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button id="chooseusestate" type="button" class="btn btn-default" data-dismiss="modal">确定</button>
      </div> 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



 

<script>
$('tr.select_usestate').click(function(e){ 
    $("tr.select_usestate").css("backgroundColor","white");
    this.style.backgroundColor = "#357ebd"
    console.log(this.dataset.usestate_id) 
    $("#usestateid").text(this.dataset.usestate_id);

}) 

</script>

<script> 
$('#chooseusestate').click(function(e){    
         var List=new Array();
  List[0]="资产使用状态";
  List[1]=   $("#UsestateModalid").text(); 
  List[2]="usestateModal";
$.ajax({
   type:"post", 
   url :"/usestates_choose",
   data:{ 
      "usestateid": $("#usestateid").text(),
      "id" :List
     }, 
   success: function(){ 
     },
			error :function(){ 
        } 
 });  
}) 


$('tr.select_usestate').dblclick(function(e){    
     var List=new Array();
  List[0]="资产使用状态";
  List[1]=   $("#UsestateModalid").text(); 
  List[2]="usestateModal";
$.ajax({
   type:"post", 
   url :"/usestates_choose",
   data:{ 
      "usestateid": $("#usestateid").text(),
      "id" :List
     }, 
   success: function(){ 
     },
			error :function(){ 
        } 
 });  
})
</script>
