<h1>Editing Asset Allocate Entry</h1>

<%= render 'form', asset_allocate_entry: @asset_allocate_entry %>

<%= link_to 'Show', @asset_allocate_entry %> |
<%= link_to 'Back', asset_allocate_entries_path %>
