<head>
  <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css" />
  <style>
    .layui-table-page select {
      height: 26px;
    }

    .layui-disabled {
      background-color: #fff !important;
    }

    .layui-laypage select {
      padding: 0px;
      border-radius: 2px;
      cursor: pointer;
    }

    .layui-table-page {
      text-align: center;
    }

    .layui-laypage .layui-laypage-skip {
      color: #000;
    }

    .layui-table-box {
      position: relative;
      overflow: hidden;
      text-align: center;
    }
  </style>
</head>

<body>
  <div class="layui-btn-group " style="margin:10px;0px;">
    <a data-url="/units/new" data-id="newunits" data-title="计量单位-新增" class="linkActive"><button type="button"
        class="layui-btn">新增</button></a>
    <a id="a_update" rel="nofollow" class="linkActive" data-id="edit_units" data-title="计量单位-编辑"><button type="button"
        class="layui-btn" onclick="getCheckedCheckbox_update()">修改</button></a>
    <a id="a_delete" rel="nofollow"><button onclick="model_delete()" type="button" class="layui-btn">删除</button></a>
    <a rel="nofollow"><button type="button" onclick="Refresh()" class="layui-btn">刷新</button></a>
    <input type="file" id="file" style="display:none;"
      accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
    <a rel="nofollow"><button type="button" onclick="selectFile()" class="layui-btn">导入</button></a>
    <a rel="nofollow"><button type="button" onclick="exportSpecialExcel()" class="layui-btn">导出</button></a>
  </div>
  <table class="layui-hide" id="units" lay-filter="units"></table>
  <script src="https://www.layuicdn.com/layui/layui.js"></script>
  <script src="https://cdn.staticfile.org/jquery/1.11.3/jquery.min.js"></script>
  <%=javascript_pack_tag 'tabadd' %>
  <script>
    layui.use('table', function () {
      var table = layui.table;
      table.render({
        elem: '#units',
        url: '/units_Get_DataApi',
        toolbar: '#toolbarDemo', //开启头部工具栏，并为其绑定左侧模板 
        defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
          title: '刷新',
          layEvent: 'Refresh',
          icon: "layui-icon-refresh-3"
        }, { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
          title: '新增',
          layEvent: 'Add',
          icon: "layui-icon-addition"
        }],
        title: '用户数据表',
        cols: [
          [{
              type: 'checkbox',
              width: 50
            },
            {
              field: 'Unitcode',
              title: '计量单位编码',
              width: 200,
              minwidth: 200,
              sort: true
            }, {
              field: 'name',
              minwidth: 200,
              width: 200,
              title: '计量单位名称'
            }, {
              field: 'fbillstatus',
              minwidth: 200,
              width: 163,
              title: '数据状态',
              sort: true
            }, {
              field: 'Approver',
              minwidth: 200,
              width: 163,
              title: '审核人',
              sort: true
            }, {
              field: 'ApproverDate',
              minwidth: 200,
              width: 163,
              title: '审核日期',
              sort: true
            }
          ]
        ],
        id: 'unit_table',
        page: true,
        limits: [100, 200, 500, 1000, 2000, 10000],
        limit: 100
      });
      var $ = layui.$,
        active = {
          reload_unit: function () {
            //执行重载
            table.reload('unit_table', {
              page: {
                curr: 1 //重新从第 1 页开始
              },
              where: {
                key: {}
              }
            }, 'data');
          }
        };
      $('.demoTable').on('click', function () {
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
      });
    });
    $(document).on("click", ".layui-table-body table.layui-table tbody td", function () {
      if ($(this)[0].className == "") {
        var index = $(this)[0].parentElement.attributes[0].value;
        var tableBox = $(this).parents('.layui-table-box');
        //存在固定列
        tableDiv = tableBox.find(".layui-table-body.layui-table-main");
        //获取已选中列并取消选中 
        //选中单击行
        var checkCell = tableDiv.find("tr[data-index=" + index + "]").find(
          "td div.laytable-cell-checkbox div.layui-form-checkbox I");
        checkCell.click();
      }
    });

    function getCheckedCheckbox_update() {
      var table = layui.table;
      var checkStatus = table.checkStatus('unit_table');
      console.log(checkStatus);
      if (checkStatus.data.length > 1) {
        alert("选择了多行数据，请选择1行！");
        document.getElementById("a_update").href = "";
        document.getElementById("a_update").dataset.url = "";
        return false;
      } else if (checkStatus.data.length == 0) {
        alert("没有选择数据，请重新选择！");
        document.getElementById("a_update").href = "";
        document.getElementById("a_update").dataset.url = "";
        return false;
      }
      var units_id = "/units/" + checkStatus.data[0].id + "/edit";
      document.getElementById("a_update").dataset.url = units_id
    }
    //删除
    function model_delete() {
      if (!confirm('你确定要删除吗？')) {
        return false
      }
      var items = new Array();
      var table = layui.table;
      var checkStatus = table.checkStatus('unit_table').data;
      for (var i = 0; i < checkStatus.length; i++) {
        items[i] = checkStatus[i].id
      }
      if (items.length == 0) {
        alert("请选择单据！");
        return;
      }
      $.ajax({
        type: "post",
        url: "/units_destroy_multiple",
        data: {
          "unit_id": items
        },
        success: function (res) {
          if (res.code == 200) {
            alert(res.message);
            location.reload();
          } else {
            alert(res.message);
          }
        }
      });
    }
    //刷新
    function Refresh() {
      location.reload([true])
    }
    $(document).ready(function () {
      $("#progress").hide();
    });
  </script>
</body>